<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <!--layui css static\layui-v2.5.6\layui\css\layui.css-->
    <link href="static/layui-v2.5.6/layui/css/layui.css"  th:href="@{/layui-v2.5.6/layui/css/layui.css}" rel="stylesheet" />
    <!--layui-->
    <script type="text/javascript" src="layui/layui.js" th:src="@{/layui-v2.5.6/layui/layui.js}"></script>
    <!--jquery-->
    <script type="text/javascript" src="../js/jquery/jquery-3.3.1.js" th:src="@{/js/jquery/jquery-3.3.1.js}"></script>

</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <div class="layui-logo">原来爱吃糖</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item"><a href="">控制台</a></li>
          <li class="layui-nav-item"><a href="">商品管理</a></li>
          <li class="layui-nav-item"><a href="">用户</a></li>
          <li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
              <dd><a href="">邮件管理</a></dd>
              <dd><a href="">消息管理</a></dd>
              <dd><a href="">授权管理</a></dd>
            </dl>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
          <li class="layui-nav-item">
            <a href="javascript:;">
              <img th:href="@{/img/headPortrait.jpg}" class="layui-nav-img">
              贤心
            </a>
            <dl class="layui-nav-child">
              <dd><a href="">基本资料</a></dd>
              <dd><a href="">安全设置</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
      </div>
      
      <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
          <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
          <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
              <a class="" href="javascript:;">所有商品</a>
              <dl class="layui-nav-child">
                <dd><a href="javascript:;">列表一</a></dd>
                <dd><a href="javascript:;">列表二</a></dd>
                <dd><a href="javascript:;">列表三</a></dd>
                <dd><a href="">超链接</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item">
              <a href="javascript:;">解决方案</a>
              <dl class="layui-nav-child">
                <dd><a href="javascript:;">列表一</a></dd>
                <dd><a href="javascript:;">列表二</a></dd>
                <dd><a href="">超链接</a></dd>
              </dl>
            </li>
            <li class="layui-nav-item"><a href="">云市场</a></li>
            <li class="layui-nav-item"><a href="">发布商品</a></li>
          </ul>
        </div>
      </div>
      
      <div class="layui-body">
        <!-- 内容主体区域 -->
        <form class="layui-form" action="">

          <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
              <input id="username" type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
              <input id="password" type="password" name="password" lay-verify="title" autocomplete="off" placeholder="请输入密码" class="layui-input">
            </div>
          </div>

          <div class="layui-form-item">
            <div class="layui-input-block">
              <button type="button" class="layui-btn" lay-submit="" lay-filter="demo1">插入用户</button>
              
            </div>
          </div>
        </form>
        <button type="button" class="layui-btn" onclick="insertObj()">传递对象-数组</button>

        <button type="button" class="layui-btn" onclick="insertObjs()">传递对象-多个不同对象</button>

        <button type="button" class="layui-btn" onclick="insertObjss()">传递对象-多个不同对象集合</button>

        <button type="button" class="layui-btn" onclick="insertObjsList()">传递对象-数据中嵌套对象集合</button>
        <img id="img" th:src="@{/test/getVCode}" /><a href="javascript:void(0);"  onclick="myFlash()">看不清</a>

        <button type="button" class="layui-btn" onclick="insertMapObj()">传递Map对象-多个不同参数</button>

        <button type="button" class="layui-btn" onclick="insertMapObjForGet()">传递Map对象-多个不同参数以GET方式</button>
      </div>
      
      <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
      </div>
    </div>
    <script>
         window.ctx="[[@{/}]]";
         var verifyURL=$("#img").attr('src');//动态获取img-URL
         //刷新验证码
         function myFlash(){
            $("#img").attr('src',verifyURL+"?randomNum="+Math.random());
         }

        //JavaScript代码区域
        layui.use(['element','form'], function(){
            var element = layui.element;
            var form = layui.form;

            
            //监听提交
            form.on('submit(demo1)', function(data){
              $.ajax({
                type:'POST',
                url: ctx + "test/insert",
                data:{
                  userName:$("#username").val(),
                  password:$("#password").val()
                },
                dataType: "json",
                success:function(res){
                  console.log(res);
                  alert(JSON.stringify(res));
                }
              });
              return false;
            });
        });

         /**
          * █████████████████████████████████████████████████████████████████████████████
          *   传递多个相同的对象，后台用数组可以接收
          *
          */
        function insertObj(){
            //模拟往list集合放入对象
            var array = [];
            for(var i=0;i<5;i++){
                array[i] = new Object();
                array[i].name = "lili_"+i;
                array[i].age = "2"+i;
                array[i].sex = "1";
            }
            //使用ajax往controller传递list集合
            $.ajax({
                async: true,
                type: 'post',
                url: ctx +"test/insertObj",
                contentType:"application/json", // 指定这个协议很重要
                data: JSON.stringify(array),   //重要
                dataType: "json",
                success: function (data) {
                    var jsonObj = [];
                    jsonObj = eval('(' + data + ')');
                    alert(jsonObj);
                }
            })
        }

         /**
          * █████████████████████████████████████████████████████████████████████████████
          *   传递多个不同的对象，不是集合
          *
          */
         function  insertObjs() {
              var student = new Object();
                  student.name = "1号学生";
                  student.age = 18;
                  student.sex = 1;

              var teacher = new Object();
                  teacher.name = "1号老师";
                  teacher.hobby = "打篮球";
                  teacher.address = "江西";

              $.ajax({
                  type:"POST",
                  url:ctx+"test/insertObjs",
                  dataType: "json",
                  contentType:"application/json", // 指定这个协议很重要
                  data: JSON.stringify({
                    "student":student,
                    "teacher":teacher
                  }),   //重要
                  success:function (res) {

                  }
              })
         }



         // /**
         //  * █████████████████████████████████████████████████████████████████████████████
         //  *   传递多个不同对象集合
         //  *
         //  */
         // function  insertObjss() {
         //   // var student = new Object();
         //   // student.name = "1号学生";
         //   // student.age = 18;
         //   // student.sex = 1;
         //
         //   // var teacher = new Object();
         //   // teacher.name = "1号老师";
         //   // teacher.hobby = "打篮球";
         //   // teacher.address = "江西";
         //
         //
         //   //模拟往list集合放入对象
         //   var student = [];
         //   for(var i=0;i<5;i++){
         //     student[i] = new Object();
         //     student[i].name = "学生"+i;
         //     student[i].age = "2"+i;
         //     student[i].sex = "1";
         //   }
         //
         //   //模拟往list集合放入对象
         //   var teacher = [];
         //   for(var j=0;j<5;j++){
         //     teacher[j] = new Object();
         //     teacher[j].name = "老师"+j;
         //     teacher[j].hobby = "学习"+j;
         //     teacher[j].address = "江西"+j;
         //   }
         //
         //   $.ajax({
         //     type:"POST",
         //     url:ctx+"test/insertObjss",
         //     dataType: "json",
         //     contentType:"application/json", // 指定这个协议很重要
         //     data:
         //             {student:JSON.stringify( student)},   //重要
         //     success:function (res) {
         //
         //     }
         //   })
         // }

         /**
          * █████████████████████████████████████████████████████████████████████████████
          *   传递多个同同的对象
          *
          */
         function insertObjsList(){
              var arr = [];
              for(var i=0; i<5; i++){
                  var student = new Object();
                  student.name = "学生"+i;
                  student.age = 18+i;
                  student.sex = 0+i;
                  arr.push(student);
              }
              console.log(JSON.stringify(arr));
              $.ajax({
                type:"POST",
                url:ctx+"test/insertObjsList",
                dataType: "json",
                contentType:"application/json", // 指定这个协议很重要
                data: JSON.stringify({
                  "year":2021,
                  "classNo":"170107",
                  "stuList":arr
                }),   //重要
                success:function (res) {

                }
              })
         }

        //传递map
        function insertMapObj(){

          $.ajax({
            type:"POST",
            url:ctx+"test/insertMapObj",
            dataType: "json",
            contentType:"application/json", // 指定这个协议很重要
            data: JSON.stringify(
                    {"id":10,"name":"梁山伯","age":25,"date":new Date()}
            ),   //重要
            success:function (res) {

            }
          })
         }

         //insertMapObjForGet
         function insertMapObjForGet(){
             $.ajax({
               type:"GET",
               url:ctx+"test/insertMapObjForGet",
               data: {
                     ajaxid: 4,
                     UserID: "UserID",
                     EmailAddress: "EmailAddress"
               },
                success:function (res) {

               }
           })
         }

    </script>
    </body>

</html>